<a href="https://colab.research.google.com/github/arivle/credit-card-prediction/blob/main/credit_card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
url = 'https://raw.githubusercontent.com/arivle/credit-card-dataset/main/credit-card-default-1000.csv'

In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv(url)
df.head()

   CUSTID  LIMIT_BAL SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  DEFAULTED
0   530.0    20000.0   2        2.0  ...       0.0  162000.0       0.0          0
1    38.0    60000.0   2        2.0  ...       0.0       0.0    1576.0          0
2    43.0    10000.0   1        2.0  ...       0.0       0.0    1500.0          0
3    47.0    20000.0   2        1.0  ...       0.0  130291.0     651.0          0
4    70.0    20000.0   1        4.0  ...       0.0    2891.0  153504.0          0

[5 rows x 25 columns]

In [9]:
df["SEX"].replace({"M":"1", "F":"2"}, inplace=True)
print(df)

      CUSTID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  DEFAULTED
0      530.0    20000.0    2  ...  162000.0       0.0          0
1       38.0    60000.0    2  ...       0.0    1576.0          0
2       43.0    10000.0    1  ...       0.0    1500.0          0
3       47.0    20000.0    2  ...  130291.0     651.0          0
4       70.0    20000.0    1  ...    2891.0  153504.0          0
...      ...        ...  ...  ...       ...       ...        ...
997    103.0   480000.0    1  ...       0.0  345293.0          1
998    388.0    80000.0    1  ...       0.0    1000.0          1
999    247.0   250000.0    2  ...  100000.0   10000.0          1
1000     NaN        NaN  NaN  ...       NaN       NaN          0
1001     NaN        NaN  NaN  ...       NaN       NaN          0

[1002 rows x 25 columns]

In [11]:
df.isnull().values.any()

True

In [12]:
df.isnull().sum()

CUSTID       2
LIMIT_BAL    2
SEX          2
EDUCATION    2
MARRIAGE     2
AGE          2
PAY_1        2
PAY_2        2
PAY_3        2
PAY_4        2
PAY_5        2
PAY_6        2
BILL_AMT1    2
BILL_AMT2    2
BILL_AMT3    2
BILL_AMT4    2
BILL_AMT5    2
BILL_AMT6    2
PAY_AMT1     2
PAY_AMT2     2
PAY_AMT3     2
PAY_AMT4     2
PAY_AMT5     2
PAY_AMT6     2
DEFAULTED    0
dtype: int64

In [14]:
df.dropna()

     CUSTID  LIMIT_BAL SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  DEFAULTED
0     530.0    20000.0   2        2.0  ...       0.0  162000.0       0.0          0
1      38.0    60000.0   2        2.0  ...       0.0       0.0    1576.0          0
2      43.0    10000.0   1        2.0  ...       0.0       0.0    1500.0          0
3      47.0    20000.0   2        1.0  ...       0.0  130291.0     651.0          0
4      70.0    20000.0   1        4.0  ...       0.0    2891.0  153504.0          0
..      ...        ...  ..        ...  ...       ...       ...       ...        ...
995   932.0   320000.0   1        1.0  ...       0.0       0.0       0.0          1
996   367.0    50000.0   2        2.0  ...       0.0       0.0       0.0          1
997   103.0   480000.0   1        1.0  ...     325.0       0.0  345293.0          1
998   388.0    80000.0   1        3.0  ...     500.0       0.0    1000.0          1
999   247.0   250000.0   2        2.0  ...    4000.0  100000.0   10000.0          1

[1000 rows x 25 columns]